**5.1 - Coleta de dados**

1° Base de dados

In [2]:
#Base de dados: http://www.nuforc.org/
#Extração de dados de forma tabular de vinte anos (Set/1997 - Agosto/2017 = 240 pág)
 
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
 
#Teste de requisição HTTP
requisicao = requests.get('http://www.nuforc.org/webreports/ndxevent.html')
requisicao

2° DataFrame

In [ ]:
#Teste de importação de dados com 1 página (01/2021)
dfs = pd.read_html('http://www.nuforc.org/webreports/ndxe202101.html')
df = dfs[0]
#mostrar os 5 primeiros
df.head()
#Contar total de relatos
#Contar as linhas do dataframe df
total_rows = df.count
print(total_rows)
 
#Obs: URL do site - http://www.nuforc.org/webreports/ndxe +
# data - ano mês +
#html

In [6]:
#lista com os dados
lista10 = []

#for para percorrer as páginas
#range (início, fim, intervalo)
mes=0
 #Ano 1997
for mes in range (9,13,1):
        if mes<10:
          
          data=str(1997)+str(0)+str(mes)            
          if requisicao.status_code == 200:              
              lista10.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')           
          
          
          
        else:
          data=str(1997)+str(mes)          
          if requisicao.status_code == 200:
              
              lista10.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')
time.sleep(1)


#Quantidade de páginas na lista
len(lista10)

4

In [8]:
#Anos 1998 até 2016
lista11 = []
for ano in range (1998,2017,1):
  #print(f'Página: {ano}')
  mes=0
  data=0
  for mes in range (1,13,1):
      if mes<10:
          
        data=str(ano)+str(0)+str(mes)            
        if requisicao.status_code == 200:              
            lista11.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')           
          
          
          
      else:
        data=str(ano)+str(mes)          
        if requisicao.status_code == 200:
              
            lista11.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')

  time.sleep(1)

#Quantidade de páginas na lista
len(lista11)

228

In [10]:
#Ano 2017
lista12 = []

#for para percorrer as páginas
#range (início, fim, intervalo)
mes=0
 #Ano 1997
for mes in range (1,9,1):
        if mes<10:
          
          data=str(2017)+str(0)+str(mes)            
          if requisicao.status_code == 200:              
              lista12.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')           
          
          
          
        else:
          data=str(ano)+str(mes)          
          if requisicao.status_code == 200:
              
              lista12.append(f'http://www.nuforc.org/webreports/ndxe{data}.html')
time.sleep(1)

#Quantidade de páginas na lista
len(lista12)

8

In [12]:
#Criar uma lista das listas anteriores
#lista nova para criaçâo de tabelas - lista2
#Variável conte - controle de listas
# reunir todas as lista em uma (lista2)
# lista 2 possui todos os relados por mês

lista2 = []
for conte in lista10:
  pag = pd.read_html(conte, header = 0)
  lista2.append(pag[0])

lista3 = []
for conte in lista11:
  pag = pd.read_html(conte, header = 0)
  lista3.append(pag[0])

lista4 = []
for conte in lista12:
  pag = pd.read_html(conte, header = 0)
  lista4.append(pag[0])

lista2.append(lista4)
lista2.append(lista3)
lista2

[      Date / Time  ...    Posted
 0   9/30/97 20:00  ...  10/30/06
 1   9/22/97 20:00  ...    8/5/09
 2         9/19/97  ...   12/1/19
 3   9/18/97 20:15  ...   3/13/12
 4   9/15/97 00:00  ...   7/19/10
 5   9/15/97 20:00  ...   11/9/17
 6   9/15/97 20:00  ...   3/17/17
 7   9/15/97 20:00  ...   7/28/10
 8   9/15/97 20:00  ...   2/24/07
 9    9/7/97 12:00  ...   1/10/09
 10   9/1/97 23:00  ...    2/1/07
 11   9/1/97 22:30  ...  12/12/09

 [12 rows x 7 columns],        Date / Time  ...    Posted
 0   10/30/97 00:00  ...   12/1/19
 1   10/22/97 15:00  ...  11/28/07
 2   10/20/97 08:45  ...  12/12/11
 3   10/19/97 02:00  ...   1/16/14
 4   10/17/97 20:00  ...   4/14/09
 5   10/15/97 20:00  ...   7/19/10
 6   10/15/97 19:00  ...    2/1/07
 7   10/15/97 17:30  ...   10/8/07
 8   10/15/97 17:00  ...   8/22/14
 9   10/15/97 15:00  ...   2/14/08
 10  10/12/97 10:30  ...   3/19/09
 11  10/11/97 22:00  ...   6/12/08
 12  10/10/97 20:00  ...    2/1/07
 13  10/10/97 17:00  ...   2/14/08
 14   10/3/97 21:30  ...   6/12/11
 15   10/2/97 02:00  ...    8/5/12
 16   10/1/97 22:00  ...  10/30/06
 17   10/1/97 19:00  ...   4/14/09
 18   10/1/97 19:00  ...   1/10/09

 [19 rows x 7 columns],        Date / Time  ...   Posted
 0   11/28/97 19:30  ...  6/20/19
 1   11/21/97 12:00  ...  3/13/12
 2   11/15/97 23:00  ...  3/31/08
 3   11/15/97 21:30  ...  1/10/09
 4   11/15/97 20:00  ...  4/25/19
 5   11/14/97 22:00  ...  1/12/17
 6   11/14/97 21:00  ...  5/14/19
 7   11/14/97 21:00  ...   8/4/17
 8   11/14/97 21:00  ...  3/10/11
 9   11/14/97 20:00  ...   5/1/20
 10  11/14/97 20:00  ...  3/26/15
 11   11/9/97 21:00  ...  5/13/12
 12   11/1/97 22:00  ...  7/16/06
 13   11/1/97 16:00  ...  9/12/19

 [14 rows x 7 columns],       Date / Time  ...    Posted
 0  12/31/97 20:30  ...   1/10/09
 1  12/25/97 09:00  ...  10/30/06
 2  12/17/97 00:15  ...  12/12/09
 3  12/16/97 02:00  ...   6/27/19
 4  12/15/97 22:00  ...   1/10/09
 5  12/15/97 18:00  ...  12/19/19
 6  12/10/97 20:00  ...   2/14/10
 7   12/1/97 23:30  ...    2/1/07
 8   12/1/97 22:00  ...   2/14/08

 [9 rows x 7 columns], [       Date / Time  ...   Posted
  0    1/31/17 23:45  ...   2/3/17
  1    1/31/17 23:00  ...   2/3/17
  2    1/31/17 22:15  ...   2/3/17
  3    1/31/17 21:00  ...   2/3/17
  4    1/31/17 18:40  ...   2/3/17
  ..             ...  ...      ...
  335   1/1/17 00:07  ...  1/19/17
  336   1/1/17 00:05  ...   1/6/17
  337   1/1/17 00:01  ...   1/6/17
  338   1/1/17 00:00  ...   1/6/17
  339   1/1/17 00:00  ...   1/6/17

  [340 rows x 7 columns],        Date / Time  ...   Posted
  0    2/28/17 23:00  ...  3/23/18
  1    2/28/17 21:37  ...  4/13/17
  2    2/28/17 19:45  ...  3/10/17
  3    2/28/17 18:57  ...  3/10/17
  4    2/28/17 18:30  ...  3/10/17
  ..             ...  ...      ...
  423   2/1/17 12:00  ...  3/10/17
  424   2/1/17 11:30  ...  6/22/17
  425   2/1/17 09:12  ...   2/3/17
  426   2/1/17 06:00  ...   2/3/17
  427   2/1/17 05:05  ...  3/10/17

  [428 rows x 7 columns],        Date / Time  ...    Posted
  0    3/31/17 22:30  ...    4/7/17
  1    3/31/17 20:25  ...    4/7/17
  2    3/31/17 19:13  ...    5/6/17
  3    3/31/17 19:00  ...    4/7/17
  4    3/31/17 02:26  ...    4/7/17
  ..             ...  ...       ...
  345   3/1/17 18:45  ...   3/10/17
  346   3/1/17 18:30  ...   3/10/17
  347   3/1/17 13:35  ...   3/10/17
  348   3/1/17 02:20  ...   3/23/17
  349   3/1/17 00:00  ...  12/19/19

  [350 rows x 7 columns],        Date / Time  ...   Posted
  0    4/30/17 22:00  ...   4/8/19
  1    4/30/17 22:00  ...   5/6/17
  2    4/30/17 22:00  ...   5/6/17
  3    4/30/17 21:00  ...   6/2/17
  4    4/30/17 21:00  ...  1/25/18
  ..             ...  ...      ...
  415   4/1/17 18:00  ...   4/7/17
  416   4/1/17 12:40  ...   6/2/17
  417   4/1/17 03:00  ...   4/7/17
  418   4/1/17 01:10  ...   4/7/17
  419   4/1/17 01:10  ...   4/7/17

  [420 rows x 7 columns],        Date / Time  ...  Posted
  0    5/31/17 23:30  ...  6/9/17
  1    5/31/17 22:00  ...  6/2/17
  2    5/31/17 21:20  ...  6/2/17
  3    5/31/17 18:52  ...  6/2/17
  4    5/31/17 10:45  ...  6/2/17
  ..             ...  ...     ...
  361   5/1/17 03:23  ...  5/6/17
  362   5/1/17 01:50  ...  5/6/17
  363   5/1/17 01:00  ...  7/7/17
  364   5/1/17 00:15  ...  5/6/17
  365         5/1/17  ...  5/6/17

  [366 rows x 7 columns],        Date / Time  ...    Posted
  0    6/30/17 00:00  ...   5/31/18
  1    6/30/17 23:40  ...    7/7/17
  2    6/30/17 23:15  ...    7/7/17
  3    6/30/17 23:14  ...    7/7/17
  4    6/30/17 22:00  ...   8/10/18
  ..             ...  ...       ...
  423   6/1/17 13:18  ...    6/2/17
  424   6/1/17 11:00  ...   7/23/17
  425   6/1/17 10:35  ...    6/9/17
  426   6/1/17 03:35  ...    6/2/17
  427   6/1/17 03:33  ...  12/21/17

  [428 rows x 7 columns],        Date / Time  ...    Posted
  0    7/31/17 23:17  ...    8/4/17
  1    7/31/17 22:05  ...    8/4/17
  2    7/31/17 22:00  ...    8/4/17
  3    7/31/17 22:00  ...    8/4/17
  4    7/31/17 21:15  ...    8/4/17
  ..             ...  ...       ...
  516   7/1/17 18:56  ...    7/7/17
  517   7/1/17 16:00  ...    7/7/17
  518   7/1/17 14:30  ...   8/23/19
  519   7/1/17 14:00  ...   8/11/17
  520   7/1/17 02:00  ...  11/22/17

  [521 rows x 7 columns],        Date / Time  ...   Posted
  0    8/31/17 22:00  ...   9/5/17
  1    8/31/17 22:00  ...   9/5/17
  2    8/31/17 21:00  ...   9/5/17
  3    8/31/17 20:15  ...   9/5/17
  4    8/31/17 19:30  ...   9/5/17
  ..             ...  ...      ...
  413   8/1/17 02:45  ...   8/4/17
  414   8/1/17 02:00  ...   8/4/17
  415   8/1/17 01:00  ...   5/9/19
  416   8/1/17 00:00  ...  2/13/20
  417         8/1/17  ...  6/25/20

  [418 rows x 7 columns]], [      Date / Time  ...   Posted
  0   1/28/98 21:00  ...   5/2/11
  1   1/27/98 19:30  ...  2/24/07
  2   1/17/98 16:30  ...  3/19/09
  3   1/15/98 23:00  ...  4/13/10
  4   1/12/98 21:30  ...   6/2/13
  5   1/11/98 06:55  ...  11/6/14
  6    1/8/98 22:00  ...  5/15/06
  7    1/6/98 01:00  ...  9/18/14
  8    1/1/98 23:00  ...   2/1/07
  9    1/1/98 20:30  ...   2/7/14
  10   1/1/98 13:00  ...  1/10/14
  11   1/1/98 13:00  ...  10/8/07

  [12 rows x 7 columns],      Date / Time  ...    Posted
  0  2/26/98 22:30  ...  10/30/06
  1  2/26/98 00:25  ...   6/28/18
  2  2/23/98 23:30  ...    2/4/13
  3   2/1/98 00:30  ...   7/16/06

  [4 rows x 7 columns],       Date / Time  ...   Posted
  0   3/25/98 23:30  ...   6/5/12
  1   3/18/98 02:00  ...  1/31/11
  2   3/15/98 00:00  ...  4/14/09
  3   3/15/98 22:30  ...  1/10/09
  4   3/15/98 21:30  ...  1/31/11
  5   3/15/98 19:00  ...  1/24/19
  6   3/14/98 21:00  ...  10/8/07
  7   3/13/98 21:00  ...  7/16/06
  8    3/7/98 08:00  ...  5/15/06
  9    3/5/98 10:00  ...   8/7/11
  10   3/3/98 20:00  ...   7/4/12
  11   3/1/98 20:00  ...  5/15/06
  12   3/1/98 02:30  ...  10/4/19

  [13 rows x 7 columns],       Date / Time  ...    Posted
  0   4/28/98 22:00  ...    8/5/09
  1   4/25/98 20:00  ...  10/30/06
  2   4/20/98 21:00  ...   2/18/11
  3   4/16/98 15:00  ...   4/27/07
  4   4/15/98 20:30  ...    7/6/10
  5   4/15/98 20:00  ...    3/4/08
  6   4/15/98 13:00  ...   1/10/09
  7   4/15/98 08:20  ...    5/2/11
  8   4/15/98 07:45  ...  11/28/07
  9   4/12/98 17:00  ...   2/14/08
  10   4/9/98 23:00  ...   9/19/19
  11   4/5/98 11:50  ...    8/7/11
  12   4/4/98 23:00  ...   7/16/06
  13   4/1/98 21:00  ...  10/14/13
  14   4/1/98 13:00  ...   4/14/09

  [15 rows x 7 columns],       Date / Time  ...    Posted
  0   5/30/98 21:00  ...    8/5/09
  1   5/20/98 23:00  ...  12/12/09
  2   5/20/98 22:30  ...   1/24/14
  3   5/20/98 01:00  ...   5/26/16
  4   5/15/98 21:45  ...   2/28/13
  5   5/15/98 15:00  ...  11/11/13
  6   5/15/98 12:00  ...  11/17/17
  7   5/15/98 07:30  ...   5/13/12
  8   5/15/98 07:30  ...   4/27/07
  9   5/12/98 03:00  ...    7/4/12
  10   5/8/98 21:40  ...   1/10/09
  11   5/6/98 20:00  ...   7/14/17
  12   5/3/98 21:00  ...    8/7/07
  13   5/1/98 22:00  ...   5/29/11
  14   5/1/98 15:00  ...   6/25/20

  [15 rows x 7 columns],       Date / Time  ...    Posted
  0   6/30/98 23:00  ...   1/21/08
  1   6/30/98 21:30  ...   9/18/14
  2   6/30/98 13:00  ...   2/25/20
  3   6/30/98 13:00  ...   6/12/08
  4   6/30/98 10:00  ...   7/16/06
  5   6/30/98 03:00  ...   6/12/08
  6   6/30/98 02:00  ...   5/15/06
  7   6/30/98 01:30  ...    2/1/07
  8   6/30/98 01:00  ...    1/5/11
  9         6/30/98  ...  11/28/07
  10  6/20/98 03:30  ...   4/27/07
  11  6/16/98 20:46  ...  10/30/06
  12  6/16/98 08:46  ...   12/7/06
  13  6/15/98 22:00  ...    6/7/19
  14  6/15/98 22:00  ...   10/4/19
  15  6/15/98 21:00  ...   7/31/20
  16  6/15/98 21:00  ...   4/18/12
  17  6/15/98 08:23  ...   4/27/07
  18  6/12/98 22:45  ...    5/2/14
  19  6/12/98 22:00  ...   7/16/06
  20  6/11/98 19:00  ...    5/9/19
  21  6/10/98 20:00  ...   5/20/16
  22   6/6/98 22:00  ...   6/12/08
  23   6/6/98 21:30  ...   5/15/06
  24   6/6/98 19:00  ...    6/9/09
  25   6/6/98 04:30  ...   7/16/06
  26   6/5/98 22:05  ...   8/27/09
  27   6/3/98 17:30  ...   6/12/11
  28   6/1/98 23:00  ...   8/23/19
  29   6/1/98 23:00  ...   8/27/09
  30   6/1/98 23:00  ...   1/24/12
  31   6/1/98 22:00  ...  11/21/10
  32   6/1/98 22:00  ...   1/10/09
  33   6/1/98 22:00  ...    7/4/12
  34   6/1/98 22:00  ...    8/6/15
  35   6/1/98 22:00  ...   5/12/09
  36   6/1/98 22:00  ...    3/4/08
  37   6/1/98 21:30  ...    3/4/08
  38   6/1/98 21:00  ...   1/10/09
  39   6/1/98 20:00  ...   5/15/06
  40   6/1/98 18:00  ...  10/30/12
  41   6/1/98 17:00  ...   5/15/06
  42   6/1/98 16:30  ...   3/19/09
  43   6/1/98 14:00  ...   1/10/09
  44   6/1/98 13:00  ...    2/1/07
  45   6/1/98 12:30  ...  11/26/14
  46   6/1/98 11:00  ...  12/12/09
  47   6/1/98 10:30  ...  10/31/08
  48   6/1/98 10:00  ...   3/19/09
  49   6/1/98 01:00  ...  12/12/13

  [50 rows x 7 columns],       Date / Time  ...    Posted
  0   7/30/98 22:00  ...   6/25/20
  1   7/25/98 20:00  ...  12/12/09
  2   7/20/98 16:00  ...   12/1/19
  3   7/20/98 16:00  ...   12/1/19
  4   7/20/98 02:00  ...  10/31/08
  5   7/19/98 15:00  ...   1/11/19
  6   7/18/98 21:00  ...   4/18/12
  7   7/15/98 21:30  ...   3/19/09
  8   7/15/98 19:00  ...  11/28/07
  9   7/15/98 15:00  ...   8/30/10
  10  7/15/98 14:00  ...   10/8/07
  11  7/15/98 08:00  ...   4/27/07
  12  7/15/98 01:30  ...   5/15/06
  13  7/15/98 01:00  ...   10/8/07
  14  7/14/98 23:00  ...    8/7/07
  15  7/13/98 00:00  ...   10/8/07
  16  7/10/98 17:30  ...  10/30/06
  17  7/10/98 15:00  ...   5/15/06
  18   7/8/98 23:00  ...   10/8/07
  19   7/7/98 22:00  ...   6/12/07
  20   7/7/98 01:00  ...   3/17/17
  21   7/5/98 02:00  ...  11/11/13
  22   7/4/98 22:00  ...   11/3/17
  23   7/1/98 22:00  ...    2/1/07
  24   7/1/98 02:00  ...  12/12/09
  25   7/1/98 01:00  ...    8/7/07
  26         7/1/98  ...   1/21/08

  [27 rows x 7 columns],       Date / Time  ...    Posted
  0   8/28/98 19:00  ...   1/24/12
  1   8/28/98 05:45  ...    2/1/07
  2   8/25/98 02:00  ...   1/21/08
  3   8/23/98 11:45  ...   12/3/15
  4   8/23/98 05:00  ...   3/19/09
  5   8/21/98 21:00  ...   3/19/09
  6   8/20/98 22:00  ...   4/30/15
  7   8/20/98 22:00  ...   8/30/10
  8   8/15/98 23:30  ...   3/23/11
  9   8/15/98 23:00  ...  12/12/11
  10  8/15/98 17:00  ...   10/8/07
  11  8/15/98 11:00  ...   8/30/13
  12  8/15/98 01:00  ...   5/15/13
  13  8/15/98 00:00  ...  10/30/06
  14  8/14/98 16:00  ...   5/15/13
  15  8/13/98 03:00  ...   5/15/06
  16  8/13/98 02:00  ...   6/12/11
  17  8/10/98 22:00  ...  12/14/06
  18  8/10/98 22:00  ...  11/21/10
  19   8/8/98 00:00  ...    3/4/08
  20   8/7/98 00:00  ...    8/7/07
  21   8/7/98 00:00  ...   3/19/09
  22   8/5/98 21:00  ...   6/25/20
  23   8/5/98 09:00  ...   4/18/12
  24   8/3/98 00:30  ...  10/30/06
  25   8/1/98 23:00  ...    3/4/08
  26   8/1/98 23:00  ...   5/15/20
  27   8/1/98 03:00  ...    8/5/09
  28   8/1/98 00:00  ...   3/19/09

  [29 rows x 7 columns],       Date / Time  ...    Posted
  0   9/30/98 16:00  ...   8/12/08
  1   9/21/98 21:00  ...  11/14/14
  2   9/20/98 20:00  ...   1/10/09
  3   9/20/98 14:00  ...   6/12/08
  4   9/20/98 01:15  ...   8/23/19
  5   9/18/98 19:00  ...   6/12/08
  6   9/15/98 23:00  ...   2/11/16
  7   9/15/98 21:00  ...  12/12/09
  8   9/15/98 20:30  ...    2/1/07
  9   9/15/98 20:00  ...   7/28/10
  10  9/15/98 19:00  ...   8/16/16
  11  9/15/98 12:00  ...  12/12/09
  12  9/12/98 02:00  ...   12/1/19
  13  9/10/98 22:30  ...   1/30/15
  14  9/10/98 20:00  ...   4/27/07
  15   9/2/98 21:00  ...  12/12/09
  16   9/1/98 22:00  ...   8/12/08
  17   9/1/98 22:00  ...   8/29/14
  18   9/1/98 19:30  ...    8/7/07

  [19 rows x 7 columns],        Date / Time  ...    Posted
  0   10/30/98 20:00  ...    2/1/07
  1   10/29/98 19:00  ...   6/12/07
  2   10/28/98 10:30  ...    2/1/07
  3   10/22/98 03:30  ...  12/12/09
  4   10/20/98 20:30  ...  10/31/08
  5   10/19/98 22:30  ...    3/4/08
  6   10/17/98 11:30  ...   12/7/06
  7   10/16/98 11:40  ...  10/31/08
  8   10/15/98 22:30  ...   3/29/18
  9   10/15/98 21:00  ...    2/1/07
  10  10/10/98 20:30  ...  10/30/06
  11   10/3/98 01:00  ...   1/10/09
  12   10/1/98 22:00  ...   2/10/17
  13   10/1/98 21:00  ...    8/5/09
  14   10/1/98 10:00  ...    2/3/12
  15   10/1/98 07:00  ...   7/23/20

  [16 rows x 7 columns],        Date / Time  ...    Posted
  0   11/24/98 16:00  ...   2/22/18
  1   11/23/98 18:05  ...   1/10/09
  2   11/22/98 14:00  ...    9/6/19
  3   11/20/98 20:00  ...   10/3/14
  4   11/19/98 02:30  ...    4/7/17
  5   11/18/98 21:15  ...   2/23/11
  6   11/18/98 18:00  ...  12/12/09
  7   11/16/98 18:00  ...   5/13/12
  8         11/15/98  ...  11/21/10
  9   11/12/98 22:00  ...  12/23/20
  10   11/4/98 15:30  ...   8/14/07
  11   11/1/98 20:30  ...   3/31/08

  [12 rows x 7 columns],        Date / Time  ...    Posted
  0   12/30/98 12:00  ...  10/31/08
  1   12/30/98 02:00  ...  10/30/06
  2   12/25/98 23:30  ...   5/14/19
  3   12/25/98 22:00  ...   9/12/19
  4   12/21/98 06:30  ...   3/18/14
  5   12/20/98 20:30  ...    1/5/11
  6   12/20/98 02:30  ...   1/21/08
  7   12/19/98 03:30  ...  10/30/06
  8   12/15/98 20:00  ...  12/12/09
  9   12/15/98 00:00  ...  11/28/07
  10  12/12/98 18:00  ...    2/1/07
  11   12/7/98 10:00  ...   3/23/11

  [12 rows x 7 columns],      Date / Time  ...    Posted
  0  1/24/99 20:00  ...  10/10/11
  1  1/12/99 00:00  ...   12/7/06
  2  1/11/99 09:30  ...  11/28/07
  3   1/5/99 14:00  ...    3/4/08
  4   1/2/99 00:00  ...   7/31/20
  5   1/1/99 20:00  ...   1/24/14
  6   1/1/99 03:00  ...   1/31/11

  [7 rows x 7 columns],      Date / Time  ...    Posted
  0  2/20/99 20:00  ...   4/27/07
  1  2/20/99 19:00  ...   7/19/10
  2  2/20/99 07:00  ...  11/21/10
  3  2/15/99 18:00  ...   3/29/19
  4  2/14/99 09:00  ...   2/21/14
  5  2/10/99 23:00  ...   4/27/07
  6   2/1/99 00:00  ...  11/28/07

  [7 rows x 7 columns],      Date / Time  ...   Posted
  0  3/31/99 21:00  ...   8/5/09
  1  3/31/99 18:00  ...   6/4/14
  2  3/30/99 21:00  ...  10/8/07
  3  3/24/99 20:30  ...  3/10/11
  4  3/22/99 03:30  ...  3/10/11
  5  3/21/99 23:00  ...   7/4/11
  6  3/13/99 05:55  ...  4/20/17
  7  3/10/99 02:00  ...  1/12/12

  [8 rows x 7 columns],      Date / Time  ...    Posted
  0  4/17/99 20:00  ...   4/27/07
  1  4/15/99 19:00  ...  12/12/09
  2  4/15/99 00:50  ...   4/27/07
  3   4/4/99 23:00  ...  11/28/07
  4   4/4/99 22:00  ...   6/25/20

  [5 rows x 7 columns],       Date / Time  ...    Posted
  0   5/25/99 03:00  ...   5/12/09
  1   5/24/99 19:00  ...   6/25/20
  2   5/21/99 16:00  ...  12/20/12
  3   5/20/99 23:00  ...    3/4/08
  4   5/20/99 20:00  ...    7/5/08
  5   5/20/99 18:00  ...   8/12/08
  6   5/20/99 14:00  ...   4/27/07
  7   5/19/99 02:00  ...   10/8/07
  8   5/15/99 22:00  ...   10/8/07
  9   5/15/99 12:00  ...    3/4/08
  10  5/15/99 05:45  ...   3/10/17
  11  5/15/99 01:15  ...   12/7/06
  12  5/14/99 00:00  ...    7/4/12
  13   5/1/99 21:00  ...    8/5/09
  14   5/1/99 17:00  ...   8/27/09

  [15 rows x 7 columns],       Date / Time  ...    Posted
  0   6/30/99 22:30  ...    7/3/20
  1   6/30/99 16:30  ...   6/20/19
  2   6/30/99 06:00  ...    2/8/11
  3   6/30/99 01:00  ...  12/14/17
  4   6/30/99 00:00  ...    6/2/13
  5   6/30/99 00:00  ...  12/12/11
  6   6/25/99 22:00  ...   1/21/08
  7   6/21/99 18:30  ...    2/1/07
  8   6/20/99 21:00  ...   2/26/16
  9   6/20/99 10:00  ...    8/5/09
  10  6/17/99 12:00  ...   10/8/07
  11  6/15/99 23:30  ...    5/1/20
  12  6/15/99 22:00  ...  10/31/08
  13  6/15/99 19:00  ...   5/12/09
  14  6/15/99 12:00  ...    3/4/08
  15  6/14/99 03:00  ...   1/10/09
  16  6/12/99 02:30  ...  11/19/15
  17  6/12/99 01:00  ...    3/4/08
  18  6/11/99 23:00  ...   8/23/19
  19  6/10/99 23:00  ...   7/14/13
  20  6/10/99 03:00  ...    2/7/19
  21   6/6/99 19:00  ...   5/15/13
  22   6/5/99 02:50  ...   5/20/16
  23   6/1/99 23:00  ...   6/12/08
  24   6/1/99 23:00  ...  11/21/10
  25   6/1/99 23:00  ...    2/4/13
  26   6/1/99 22:45  ...   4/18/12
  27   6/1/99 22:00  ...  10/30/06
  28   6/1/99 22:00  ...  10/30/06
  29   6/1/99 21:00  ...    4/9/20
  30   6/1/99 21:00  ...   3/19/09
  31   6/1/99 20:15  ...   1/31/11
  32   6/1/99 20:00  ...  12/30/16
  33   6/1/99 19:00  ...   7/16/06
  34   6/1/99 19:00  ...    6/9/09
  35   6/1/99 19:00  ...    8/7/07
  36   6/1/99 19:00  ...    7/7/17
  37   6/1/99 17:00  ...   4/27/07
  38   6/1/99 15:00  ...  10/30/06
  39   6/1/99 14:00  ...  12/12/09
  40   6/1/99 13:00  ...   1/11/19
  41   6/1/99 12:00  ...   3/18/14
  42   6/1/99 12:00  ...   1/31/11
  43   6/1/99 12:00  ...   7/16/06
  44   6/1/99 02:00  ...   5/29/12
  45   6/1/99 02:00  ...   6/12/07
  46   6/1/99 02:00  ...  12/12/09
  47   6/1/99 02:00  ...    8/5/12
  48   6/1/99 01:00  ...    7/4/12
  49   6/1/99 01:00  ...   1/10/09
  50   6/1/99 01:00  ...   6/12/07
  51   6/1/99 01:00  ...  12/12/09
  52   6/1/99 00:00  ...    8/5/12
  53   6/1/99 00:00  ...    7/4/12
  54         6/1/99  ...   2/21/14

  [55 rows x 7 columns],       Date / Time  ...    Posted
  0   7/30/99 14:00  ...    6/4/14
  1   7/28/99 22:00  ...   2/14/10
  2   7/23/99 23:45  ...   8/27/09
  3   7/22/99 20:00  ...   5/15/06
  4   7/21/99 18:00  ...    1/6/17
  5   7/15/99 20:15  ...    1/7/15
  6   7/15/99 19:00  ...    2/1/07
  7   7/15/99 01:00  ...  11/21/10
  8   7/14/99 17:00  ...   4/27/07
  9   7/14/99 14:00  ...   9/10/14
  10   7/7/99 23:00  ...   3/16/12
  11   7/7/99 21:30  ...   3/24/16
  12   7/7/99 16:30  ...   1/10/14
  13   7/7/99 03:00  ...  12/12/09
  14   7/6/99 22:00  ...   4/13/10
  15   7/4/99 22:00  ...    3/8/07
  16   7/4/99 22:00  ...  11/21/10
  17   7/2/99 14:00  ...   4/11/14
  18   7/1/99 19:00  ...    6/9/09
  19   7/1/99 09:00  ...   1/19/17

  [20 rows x 7 columns],       Date / Time  ...    Posted
  0   8/28/99 02:00  ...   8/24/10
  1   8/28/99 02:00  ...    8/5/12
  2   8/26/99 00:00  ...   8/30/13
  3         8/25/99  ...   4/27/07
  4   8/22/99 11:55  ...  10/30/06
  5   8/17/99 14:00  ...    7/3/20
  6   8/16/99 23:00  ...   1/31/11
  7   8/16/99 18:00  ...   2/24/07
  8   8/15/99 23:00  ...    8/5/12
  9   8/15/99 23:00  ...    8/5/09
  10  8/15/99 21:00  ...   1/21/08
  11  8/15/99 21:00  ...  11/28/07
  12  8/15/99 18:50  ...    8/7/07
  13  8/15/99 12:00  ...   2/10/12
  14  8/15/99 02:30  ...   6/20/19
  15  8/14/99 23:00  ...   5/15/13
  16  8/13/99 23:00  ...  10/10/11
  17  8/13/99 23:00  ...    2/1/07
  18  8/12/99 22:00  ...   6/13/14
  19  8/12/99 22:00  ...  11/21/10
  20   8/7/99 17:00  ...  10/19/11
  21   8/5/99 01:30  ...    3/4/08
  22   8/1/99 13:00  ...   6/12/08

  [23 rows x 7 columns],       Date / Time  ...    Posted
  0   9/30/99 21:00  ...   4/27/07
  1   9/26/99 23:15  ...   1/24/12
  2   9/25/99 23:30  ...   6/24/16
  3   9/22/99 01:00  ...    3/4/08
  4   9/20/99 02:00  ...   8/24/10
  5   9/17/99 20:11  ...   7/15/16
  6   9/17/99 09:00  ...   5/26/16
  7   9/17/99 01:00  ...   12/7/06
  8   9/15/99 23:00  ...  11/11/13
  9   9/15/99 09:00  ...   2/14/10
  10  9/15/99 01:00  ...   12/3/15

In [13]:
#Criação do dataFrame

df_relatos = pd.DataFrame()
for i in lista2:
  df_relatos = df_relatos.append(i).reset_index(drop = True)


df_relatos

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
3      9/18/97 20:15  ...   3/13/12
4      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
71991  12/1/16 18:00  ...   12/5/16
71992  12/1/16 17:30  ...   12/5/16
71993  12/1/16 16:30  ...   12/5/16
71994  12/1/16 12:46  ...    1/6/17
71995  12/1/16 07:00  ...    4/7/17

[71996 rows x 7 columns]

3° Salvar em um arquivo .csv (OVNIS.csv)

In [14]:
#Código para salvar o dataFrame 
df_relatos.to_csv('OVNIS.csv')